body { background: #E6FFE3; }
.checkout-content {
    max-width: fit-content;
    margin-inline: auto;
    padding: 10px 3%;
}
.order-summary { background: #fff; border-radius: 12px; padding: 20px; box-shadow: 0 2px 8px rgba(0,0,0,0.05); }
.order-summary h4 { font-weight: 600; margin-bottom: 15px; }
.order-summary a { text-decoration: none; font-weight: 600; }
.order-summary input { border: 1px solid dimgray; }
.form-section input { border-radius: 25px; border: 1px solid darkgray; height: 42px; }
.cod-rules { background: whitesmoke; padding: 15px; border-radius: 12px; font-size: 15px; }
.cod-rules p { color: darkslategray; }
.form-notes { height: 200px; border-radius: 25px; padding: 10px; }
.form-transaction-id { border-radius: 25px; border: 1px solid darkgray !important; height: 42px; }
.btn-order { background: #3d5afe; color: #fff; font-weight: 600; padding: 10px; border-radius: 6px; width: 100%; border: none; }
.btn-order:hover { background: #2c46d3; }
.order-product-img { width: 90px; height: 90px; object-fit: contain; border-radius: 8px; }


/* Custom dropdown with search */
.custom-dropdown { position: relative; }
.custom-dropdown .dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
    width: 100%;
}
.custom-dropdown .dropdown-menu input {
    width: 95%;
    margin: 5px auto;
    display: block;
}