<!DOCTYPE html>
{% extends "base.html"%}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/account_password.css' %}"/>

<body>

<div class="breadcrumb-container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
        <li class="breadcrumb-item"><a href="{% url 'account_login' %}">Account</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'account_password' %}" style="color: dimgray">Register</a></li>
      </ol>
    </nav>
</div>

<div class="content">
    {% if messages %}
        {% for message in messages %}
            <!-- Error message container -->
            <div class="alert alert-danger" role="alert" style="width: 385px">
                <i class="fa fa-exclamation-circle"></i>
                <strong>Warning: </strong>{{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <h4 style="color: black;">Register Account</h4>
    <!--        {% load crispy_forms_tags %}-->
    <form action="{% url 'account_password' %}" method="post" style="width: 400px">
        {% csrf_token %}

        {% if form.errors %}
        <div class="alert alert-danger">
          <ul class="mb-0">
            {% for field in form %}
              {% for error in field.errors %}
                <li><strong>{{ field.label }}:</strong> {{ error }}</li>
              {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        <div>
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" minlength="4" class="form-control" aria-describedby="passwordHelpBlock" id="password"
                   placeholder="Password" style="width: 385px" required autocomplete="new-password">
            <small id="passwordHelpBlock" class="form-text" style="color: black;">Minimum 4 characters, contain letters and numbers.</small>
        </div>
        <br>
        <div>
            <label for="confirm_password" class="form-label">Confirm Password</label>
            <input type="password" name="confirm_password" minlength="4" class="form-control" aria-describedby="passwordHelpBlock2" id="confirm_password"
                   placeholder="Confirm Password" style="width: 385px" required autocomplete="new-password">
            <small id="passwordHelpBlock2" class="form-text" style="color: black;">Minimum 4 characters, contain letters and numbers.</small>
        </div>
        <div>
            <button type="submit" class="button" style="margin-top: 15px; width: 385px"><span>Continue</span></button>
        </div>
    </form>
    <a href="{% url 'register_account' %}"><button class="button2" style="margin-top: 15px; width: 385px"><span>Back</span></button></a>
</div>
</body>
{% endblock %}