<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}

<body>

    <div class="breadcrumb-container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
            <li class="breadcrumb-item"><a href="{% url 'account_login' %}">Account</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'account_login' %}" style="color: dimgray">Login</a></li>
          </ol>
        </nav>
    </div>

    <div class="content">
    <!-- Error message container -->
    <div id="errorMessage" class="alert alert-danger" role="alert" style="display:none; width: 385px">
        <i class="fa fa-exclamation-circle"></i>
        <strong>Warning: </strong><span id="errorText"></span>
    </div>
    {% if messages %}
        {% for message in messages %}
            <!-- Error message container -->
            <div class="alert alert-danger" role="alert" style="width: 385px">
                <i class="fa fa-exclamation-circle"></i>
                <strong>Warning: </strong>{{ message }}
            </div>
        {% endfor %}
    {% endif %}
<!--    {% if isuser == "wrong_pass" %}-->
<!--        <br><br>-->
<!--        <h1 style="color: red">Incorrect password.</h1>-->
<!--        <div style="white-space:nowrap"><h5 style="color: white">Forgot your password? Reset here-->
<!--        <a href="#"><button class="button" style="width: 25%;  padding: 6px;"><span>Reset</span></button></a></h5>-->
<!--        </div>-->
<!--        {% endif %}-->
    <h5 class="mb-4" style="color: black;">Account Login</h5>
    <form action="{% url 'account_login' %}" method="post" id="accountLoginForm" style="width: 385px">
        {% csrf_token %}
        <label for="username" style="color: black;">Phone / E-Mail</label>
        <br>
        <input type="text" size="35" name="username" id="username" class="form-control" placeholder=" Phone / E-Mail" required>
        <br>
        <label for="password" style="color: black;">Password</label>
        <br>
        <input type="password" size="35" name="password" id="password" class="form-control" placeholder=" Password" required>
        <br>
        <label style="color: black;">
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
        <br><br>
        <button class="button" style="border-radius: 20px; width: 385px"><span>Login</span></button>
    </form>
    <br>
    <a href="#" onclick="event.preventDefault();" style="color: red; text-align: center"><h6>Forgot your password?</h6></a>
    <br>
    <h5 style="color: gray; text-align: left">Don't have an account?</h5>
    <br>
    <a href="{% url 'register_account' %}"><button class="button2" style="border-radius: 20px; width: 385px"><span>Create Your Account</span></button></a>
</div>
</body>
{% endblock %}
{% block extra_js %}
<script src="{% static 'accounts/js/account_login.js' %}"></script>
{% endblock %}