<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/user_panel.css' %}"/>

<body>

    <!-- Breadcrumb -->
    <div class="breadcrumb-container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'userPanel' %}" style="color: dimgray">Account</a></li>
          </ol>
        </nav>
    </div>

    <div class="content">
    <!-- Profile Info -->
    <div class="d-flex align-items-center mb-4">
      <img src="{% static 'assets/images/user_profile_image.png' %}" class="rounded-circle me-3" alt="User" style="width: 85px; height: 80px">
      <div>
        <div class="d-flex align-items-baseline">
            <h5 class="mb-0 me-2">Hello,</h5>
            <h4 class="fw-bold mb-0">{{ user.first_name }} {{ user.last_name }}</h4>
        </div>
        <h5 class="text-muted mt-1">Good {{ time }}.</h5>
      </div>
    </div>

    <!-- Dashboard Cards -->
    <div class="row g-3">
      <div class="col-md-3 col-6">
          <a href="#" onclick="event.preventDefault();" style="text-decoration: none">
            <div class="dashboard-card">
              <div class="dashboard-icon"><i class="fa-solid fa-file-lines"></i></div>
              <p class="points mb-0">Orders</p>
            </div>
          </a>
      </div>
      <div class="col-md-3 col-6">
          <a href="#" onclick="event.preventDefault();" style="text-decoration: none">
            <div class="dashboard-card">
              <div class="dashboard-icon"><i class="fa-solid fa-user"></i></div>
              <p class="points mb-0">Edit Profile</p>
            </div>
          </a>
      </div>
      <div class="col-md-3 col-6">
        <div class="dashboard-card">
          <div class="dashboard-icon"><i class="fa-solid fa-lock"></i></div>
          <p class="points mb-0">Change Password</p>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="dashboard-card">
          <div class="dashboard-icon"><i class="fa-solid fa-location-dot"></i></div>
          <p class="points mb-0">Addresses</p>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="dashboard-card">
          <div class="dashboard-icon"><i class="fa-regular fa-heart"></i></div>
          <p class="points mb-0">Wish List</p>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="dashboard-card">
          <div class="dashboard-icon"><i class="fa-solid fa-computer"></i></div>
          <p class="points mb-0">Saved PC</p>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="dashboard-card">
          <div class="dashboard-icon"><i class="fa-solid fa-credit-card"></i></div>
          <p class="points mb-0">Your Transactions</p>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="dashboard-card">
          <div class="dashboard-icon"><i class="fa-solid fa-star"></i></div>
          <p class="points mb-0">Reviews</p>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}