<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'store/css/products.css' %}"/>

<body>

<div class="breadcrumb-container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
        {% if search_performed %}
          <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'search_products' %}?q={{ search_query }}" style="color: dimgray">Search</a></li>
        {% else %}
            {% if category_name %}
              <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'new_arrivals' %}" style="color: dimgray">{{ category_name }}</a></li>
            {% elif slug == 'latest-gadgets' %}
              <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'product_list_by_category' slug %}" style="color: dimgray">Latest Gadgets</a></li>
            {% elif selected_category %}
              <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'product_list_by_category' selected_category.slug %}" style="color: dimgray">{{ selected_category.name }}</a></li>
            {% elif selected_sub_category %}
              <li class="breadcrumb-item"><a href="{% url 'product_list_by_category' selected_sub_category.category.slug %}">{{ selected_sub_category.category }}</a></li>
              <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'product_list_by_category' selected_sub_category.slug %}" style="color: dimgray">{{ selected_sub_category.name }}</a></li>
            {% elif selected_brand_or_type %}
              <li class="breadcrumb-item"><a href="{% url 'product_list_by_category' selected_brand_or_type.category.slug %}">{{ selected_brand_or_type.category }}</a></li>
              <li class="breadcrumb-item"><a href="{% url 'product_list_by_category' selected_brand_or_type.sub_category.slug %}">{{ selected_brand_or_type.sub_category }}</a></li>
              <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'product_list_by_category' selected_brand_or_type.slug %}" style="color: dimgray">{{ selected_brand_or_type.name }}</a></li>
            {% else %}
              <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'product_list' %}" style="color: dimgray">All Products</a></li>
            {% endif %}
        {% endif %}
      </ol>
    </nav>
</div>

<div class="products-content">
  <div>
    {% if search_performed %}
        {% if search_query %}
          <h3 class="fw-bold mb-3" style="color: royalblue; font-family: 'Candara', Arial, sans-serif;">
              Search Results for "{{ search_query }}"
          </h3>
        {% elif no_search_result_message %}
          <h3 class="fw-bold mb-3" style="color: royalblue; font-family: 'Candara', Arial, sans-serif;">
              Search Results
          </h3>
        {% endif %}
    {% else %}
        {% if category_name %}
          <h3 class="fw-bold mb-3" style="color: royalblue; font-family: 'Candara', Arial, sans-serif;">
              {{ category_name }} Products Price in Bangladesh
          </h3>
        {% elif slug == 'latest-gadgets' %}
          <h3 class="fw-bold mb-3" style="color: royalblue; font-family: 'Candara', Arial, sans-serif;">
              Latest Gadgets Price in Bangladesh
          </h3>
        {% elif selected_category %}
          <h3 class="fw-bold mb-3" style="color: royalblue; font-family: 'Candara', Arial, sans-serif;">
              {{ selected_category.name }} Price in Bangladesh
          </h3>
        {% elif selected_sub_category %}
          <h3 class="fw-bold mb-3" style="color: royalblue; font-family: 'Candara', Arial, sans-serif;">
              {{ selected_sub_category.name }} Price in Bangladesh
          </h3>
        {% elif selected_brand_or_type %}
          <h3 class="fw-bold mb-3" style="color: royalblue; font-family: 'Candara', Arial, sans-serif;">
              {{ selected_brand_or_type.name }} Price in Bangladesh
          </h3>
        {% else %}
          <h3 class="fw-bold mb-3" style="color: royalblue; font-family: 'Candara', Arial, sans-serif;">
              All Products Price in Bangladesh
          </h3>
        {% endif %}
    {% endif %}
  </div>

  <!-- Sub Categories -->
  <div class="d-flex flex-wrap mb-3">
    <div class="category-pill active-pill" data-category="all">All Products</div>
    <div class="category-pill" data-category="oled">Product Accessories</div>
    <div class="category-pill" data-category="gaming">Gaming Product</div>
    <div class="category-pill" data-category="ultrabook">Premium Products</div>
    <div class="category-pill" data-category="accessories">Upcoming Products</div>
    <div class="category-pill" data-category="intel_i5">Latest Gadgets</div>
  </div>

  <div class="row g-3">
    <!-- Filters -->
    <div class="col-md-3" style="width: 300px;">
      <div class="filter-section">
        <div class="filter-title">Price Range</div>
        <input type="range" min="0" max="1000000" value="250000" id="priceRange" class="form-range">
        <p>Up to: <span id="priceValue">950000</span>৳</p>
      </div>
      <div class="filter-section">
        <div class="filter-title">Availability</div>
        <div><input type="checkbox" class="filter" value="in_stock"> In Stock</div>
        <div><input type="checkbox" class="filter" value="pre_order"> Pre Order</div>
        <div><input type="checkbox" class="filter" value="upcoming"> Up Coming</div>
      </div>
      <div class="filter-section">
        <div class="filter-title">Brand</div>
        <div><input type="checkbox" class="filter" value="apple"> A</div>
        <div><input type="checkbox" class="filter" value="hp"> B</div>
        <div><input type="checkbox" class="filter" value="dell"> C</div>
        <div><input type="checkbox" class="filter" value="lenovo"> D</div>
      </div>
    </div>

    <!-- Product List -->
    <div class="col-md-9">
      <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-2" id="product-list">
        {% for product in products %}
        <div class="col-md-3 mb-1">
          <div class="product-card h-100 w-100 border-0 rounded-3 shadow-sm position-relative">
                <!-- Discount Tag -->
                {% if product.discount > 0 %}
                    <span class="badge m-2 px-2 py-1"
                          style="top:0; right:0; font-size:12px; background: darkviolet">
                        Save: {{ product.discount|intcomma }}৳ (-{{ product.discount_percentage|floatformat:0 }})%
                    </span>
                {% endif %}

                <a href="{% url 'product_details' product.slug %}">
                    <img src="{{ product.image_url }}"
                         alt="{{ product.name }}"
                         class="img-fluid mb-2 mx-auto d-block"
                         style="width: 210px; height: 210px; object-fit: contain;">
                </a>
                <hr class="card">

                <div class="card-body d-flex flex-column">
                    <small class="card-title fw-bold">
                        <a href="{% url 'product_details' product.slug %}">
                            {{ product.name }}
                        </a>
                    </small>

                    <div class="product-info">
                        <p class="text-muted my-3">
                            <small>{{ product.specification }}</small>
                        </p>
                    </div>
                    <hr class="card mt-0">

                    <div class="text-center mb-2">
                        {% if product.special_price %}
                            <span class="fw-bold text-danger mb-0 d-inline">
                                {{ product.special_price|intcomma }}৳
                            </span>
                            <small class="text-muted text-decoration-line-through ms-2">
                                {{ product.regular_price|intcomma }}৳
                            </small>

                        {% else %}
                            <span class="fw-bold text-danger mb-0 d-inline">
                                {{ product.regular_price|intcomma }}৳
                            </span>
                        {% endif %}
                    </div>

                    <div class="text-center buy-now">
                        <a href="{% url 'checkout' product.slug %}">
                            <button class="button mt-3" style="border-radius: 10px; width: 180px">
                                <span>Buy Now</span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
            {% if no_search_result_message %}
                <p class="mt-3" style="display:inline !important; width:auto !important;">
                    {{ no_search_result_message }}
                </p>
            {% else %}
                <p class="mt-3">No products found.</p>
            {% endif %}
        {% endfor %}
      </div>

      <!-- Pagination -->
      <nav>
        <ul class="pagination mt-3">
          {% if products.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}">Prev</a></li>
          {% endif %}
          {% for num in products.paginator.page_range %}
            <li class="page-item {% if products.number == num %}active{% endif %}">
              <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
          {% endfor %}
          {% if products.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">Next</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
</div>
</body>
{% endblock %}
{% block extra_js %}
<script src="{% static 'store/js/products.js' %}"></script>
{% endblock %}